.formcontainer {
  display: flex;
  flex-direction: column;

  width: 65%;
  height: 95%;
}
.formcontainer__heading {}
.formcontainer__form {}
.formcontainer__formgroup {
  display: flex;
  flex-direction: column;
}

.formcontainer__submitwrapper {
  display: flex;
  justify-content: center;
}
.formcontainer__submitbtn {
  border: 2px solid #000;
  border-radius: 50px;
  padding: 8px 32px;
  background: #fff;
}
.formcontainer__submitbtn:hover {
  cursor: pointer;
  background: #ccc;
}
