.formcontainer {
  display: flex;
  flex-direction: column;

  width: 65%;
  height: 95%;
}
.formcontainer__heading {}
.formcontainer__form {}
.formcontainer__formgroup {
  display: flex;
  flex-direction: column;
}
.formcontainer__submitwrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formcontainer__cancelbtn {
  color: #000;
  margin-right: 0.5rem;
}
.formcontainer__cancelbtn:hover {
  background: lightgrey;
}
.formcontainer__submitbtn {
  margin-left: 0.5rem;
  padding: 0.5rem 2rem;

  transition: all 0.3s;

  border: 2px solid #000;
  border-radius: 50px;
  background: #fff;
}
.formcontainer__submitbtn:hover {
  cursor: pointer;

  background: var(--primary);
}
