@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');

:root {
  --primary: #ffdd55;
  --headerHeight: 5rem;
  --headerBg: #333;

  --sidebarWidth: 12%;
  --sidebarBg: #444;
}

* { margin: 0; padding: 0; }
body { font-family: 'Bellota Text', sans-serif; }

.viewport {
  width: 100vw;
  height: 100vh;
}

.contentwrapper {
  display: flex;
  flex-direction: row;
}

.workspace {
  display: flex;
  flex: 1; /* fill remaining space after sidebar */
  align-items: center;
  justify-content: center;
}

.staffheader {
  height: var(--headerHeight);

  color: #fff;
  background: var(--headerBg);
}
.staffheader__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: inherit;
  margin: 0 auto;

  list-style-type: none;
}
.staffheader__listitem {
  display: flex;

  height: inherit;
}
.staffheader__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;

  transition: all 0.3s;
  text-decoration: none;

  color: inherit;
}
.staffheader__link:hover {
  text-decoration: underline;

  color: var(--primary);
}
.staffheader__linktext {
  font-family: 'Lily Script One', serif;
  font-size: 1.5rem;
}

.staffsidebar {
  width: var(--sidebarWidth);
  height: calc(100vh - var(--headerHeight));

  background: var(--sidebarBg);
}
.staffsidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - var(--headerHeight) - 1rem);
}
.staffsidebar__listitem {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 3rem;
}
.staffsidebar__link {
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: all 0.3s;
  text-decoration: none;

  color: #fff;
}
.staffsidebar__link:hover {
  text-decoration: underline;
  
  color: var(--primary);
}
.staffsidebar__linkimg {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 0.3rem;
}
.staffsidebar__linktext {
  font-size: 1.2rem;
}
