:root {
  --headerHeight: 5rem;
  --sidebarWidth: 15rem;
}

* { margin: 0; padding: 0; }

.viewport {
  width: 100vw;
  height: 100vh;
}

.contentwrapper {
  display: flex;
  flex-direction: row;
}

.staffheader {
  background: #333;
  color: #fff;
  height: var(--headerHeight);
}
.staffheader__list {
  list-style-type: none;
  width: 100vw;
  margin: 0 auto;
  height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.staffheader__listitem {
  height: inherit;

  display: flex;
}
.staffheader__link {
  text-decoration: none;
  color: inherit;
  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.staffheader__linktext {
  font-size: 1.5rem;
}

.staffsidebar {
  width: var(--sidebarWidth);
  height: calc(100vh - var(--headerHeight));
  background: #444;
}
