.title-padding {
  padding: 0.5rem;
}
.dish-padding {
  padding: 0.7rem 1rem;
}
.title-color {
  background: #444;
  color: var(--primary);
}
.category-color {
  background: #ddd;
}

.menucontainer {
  display: flex;
  flex-direction: column;

  width: 65%;
  height: 95%;
  border: 1px solid grey;
}
.menucontainer__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}
.menucontainer__title {
  flex: 99; /* 99% width */
  text-align: center;
}
.menucontainer__addbtn {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1; /* 1% width */
  margin: 0 1rem;
  padding: 0.2rem 0.33rem;
  border-radius: 99px;
  transition: all 0.3s;
}
.menucontainer__addbtn:hover {
  background: var(--primary);
}
.menucontainer__addbtnimage {
  width: 1.5rem;
  height: auto;
}
.menucontainer__scroll {
  overflow-y: auto;
}
.menucontainer__section {
  display: flex;
  flex-direction: column;
}
.menucontainer__sectiontitle {
  /*  */
}
.menucontainer__sectioncategorytitle {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.menucontainer__sectioncategorydish {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menucontainer__sectioncategorydishdetails {
  display: flex;
  align-items: center;
}
.menucontainer__sectioncategorydishtitle {
  width: 8vw;
}
.menucontainer__sectioncategorydishprice {
  width: 4vw;
}
.menucontainer__sectioncategorydishdescription {
  /*  */
}
.menucontainer__sectioncategorydishcommands {
  display: flex;
}
.menucontainer__sectioncategorydishedit,
.menucontainer__sectioncategorydishdelete {
  margin-left: 0.8rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #333;
  border-radius: 0.1rem;
  text-decoration: none;
  color: #000;
  background: #fff;
  transition: all 0.3s;
}
.menucontainer__sectioncategorydishedit {
  padding: 0.2rem 1rem;
}
.menucontainer__sectioncategorydishdelete {
  background: #ff5050;
  font-weight: bold;
}
.menucontainer__sectioncategorydishedit:hover {
  background: var(--primary);
}
.menucontainer__sectioncategorydishdelete:hover {
  cursor: pointer;
  background: #d44343;
  color: #fff;
}
