.title {
  font-family: 'Lily Script One', serif;
  font-size: 3rem;

  text-align: center;

  color: #333;
}

.contentwrapper {
  width: 45%;
  margin: 0 auto;
}

.philosophy {
  line-height: 1.5;

  margin-bottom: 2rem;
}
.philosophy__title {
  font-family: 'Lily Script One', serif;
  font-size: 1.5rem;

  margin-bottom: 1rem;

  text-align: center;

  color: #333;
}
.philosophy__text {
  font-size: 1.2rem;
  font-style: italic;
}

.rule {
  height: 2px;

  border: 1px solid #888;
  background: var(--primary);
}

.foodsources {
  line-height: 1.5;

  margin-top: 2rem;
  margin-bottom: 5rem;
}
.foodsources__title {
  font-family: 'Lily Script One', serif;
  font-size: 1.5rem;

  margin-bottom: 1rem;

  text-align: center;

  color: #333;
}
.foodsources__content {
  display: flex;
  flex-direction: column;
}
.foodsources__contentrow,
.foodsources__contentrow--reverse {
  display: flex;
}
.foodsources__contentrow {
  margin-bottom: 3rem;
}
.foodsources__contentrow--reverse {
  flex-direction: row-reverse;
}
.foodsources__img {
  flex: 2;
}
.foodsources__text {
  font-size: 1.5rem;

  flex: 3;

  padding: 2rem;
}
.foodsources__text--reverse {
  font-size: 1.5rem;

  flex: 3;

  padding: 2rem;

  text-align: right;
}

@media screen and (max-width: 1540px) {
  .contentwrapper {
    width: 55%;
  }
}

@media screen and (max-width: 1280px) {
  .contentwrapper {
    width: 65%;
  }
}

@media screen and (max-width: 890px) {
  .contentwrapper {
    width: 75%;
  }
}

@media screen and (max-width: 720px) {
  .contentwrapper {
    width: 85%;
  }

  .foodsources__contentrow,
  .foodsources__title {
    margin-bottom: 0;
  }
  .foodsources__img {
    display: none;
  }
  .philosophy__text,
  .foodsources__text,
  .foodsources__text--reverse {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .contentwrapper {
    width: 90%;
  }
}
