.title {
  font-family: 'Lily Script One', serif;
  font-size: 3rem;

  text-align: center;

  color: #333;
}

.faqwrapper {
  width: 33%;
  margin: 0 auto;
}

.faqsection {
  margin-bottom: 2rem;
}
.faqsection__title {
  font-family: 'Lily Script One', serif;
  font-size: 1.5rem;

  margin-bottom: 1.33rem;

  text-align: center;

  color: #333;
}
.faq {
  font-size: 1.33rem;
}
.faq__question {
  font-weight: bold;
  font-style: italic;

  margin-bottom: 0.33rem;

  text-decoration: underline;
}
.faq__answer {
  margin-bottom: 1.33rem;
}
.faqsection__link {
  transition: all 0.3s;

  color: #000;
}
.faqsection__link:hover {
  background-color: var(--primary);
}

.contactwrapper {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.rule {
  height: 2px;

  border: 1px solid #888;
  background: var(--primary);
}

.contactsection {
  margin-top: 2rem;
}
.contactsection__title {
  font-family: 'Lily Script One', serif;
  font-size: 1.5rem;

  margin-bottom: 1.33rem;

  text-align: center;

  color: #333;
}
.contactsection__container {
  display: flex;

  padding: 3rem;

  border: 1px solid lightgrey;

  gap: 3rem;
}
.contactform {
  display: flex;
  flex-direction: column;
  flex: 2;

  gap: 1rem;
}
.contactform__top {
  display: flex;

  gap: 1rem;
}
.contactform__group {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contactform__submitbtn {
  align-self: center;

  margin-top: 1rem;
  padding: 0.5rem 1.5rem;

  transition: all 0.3s;

  border: 2px solid #333;
  border-radius: 2px;
  background: #fff;
}
.contactform__submitbtn:hover {
  cursor: pointer;

  background: var(--primary);
}

.contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.contactinfo__row {
  display: flex;

  margin: 0.5rem 0;
}
.contactinfo__rowfield {
  font-weight: bold;
}
.contactinfo__rowvalue {
  padding-left: 0.5rem;
}

@media screen and (max-width: 1780px) {
  .contactsection__container {
    flex-direction: column-reverse;
  }

  .contactform__top {
    flex-direction: column;
  }

  .contactinfo__row {
    flex-direction: column;
  }
  .contactinfo__rowfield,
  .contactinfo__rowvalue {
    padding: 0.25rem 0;

    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  .contactwrapper {
    width: 60%;
  }
}

@media screen and (max-width: 890px) {
  .contactwrapper {
    width: 70%;
  }
}

@media screen and (max-width: 720px) {
  .contactwrapper {
    width: 80%;
  }
}

@media screen and (max-width: 540px) {
  .contactwrapper {
    width: 90%;
  }
}
