@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');

:root {
  --primary: #ffdd55;
  --headerHeight: 6rem;
  --headerHeightMobile: 4rem;
  --headerBg: #333;

  --footerHeight: 10rem;
  --footerHeightMobile: 6rem;
  --footerBg: #333;
}

* { margin: 0; padding: 0; }
body { font-family: 'Bellota Text', sans-serif; }

.nav {
  background: var(--headerBg);
  color: #fff;
  height: var(--headerHeight);
  border-bottom: 2px solid var(--primary);
  box-shadow: 0 0 1rem #000;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav__list {
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
  height: inherit;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__listitem {
  height: inherit;

  display: flex;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  color: inherit;
  width: 5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.nav__link:hover {
  color:  var(--primary);
  text-decoration: underline;
}
.nav__linktext {
  font-family: 'Lily Script One', serif;
  font-size: 1.5rem;
}

.navmobile {
  display: none;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeightMobile);
  background: var(--headerBg);
  border-bottom: 2px solid var(--primary);
  box-shadow: 0 0 1rem #000;
  z-index: 1;
}
.navmobile__logo {
  margin: 0 0.5rem;
}
.navmobile__list {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  top: calc(var(--headerHeightMobile) + 2px); /* plus border-bottom */
  background: var(--headerBg);
  width: 100%;
}
.navmobile__listitem {
  list-style: none;
  margin: 1rem 0;
}
.navmobile__listitem:last-child {
  margin-bottom: 1.33rem;
}
.navmobile__link {
  text-decoration: none;
  color: #fff;
  transition: all 0.1s;
}
.navmobile__link:hover {
  text-decoration: underline;
  color: var(--primary);
}
.navmobile__linktext {
  font-family: 'Lily Script One', sans-serif;
  font-size: 2rem;
}
.navmobile__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.footer {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--footerHeight);
  background: var(--footerBg);
}
.footer__contentwrapper {
  width: 50%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright,
.footer__logo,
.footer__linkcontainer {
  display: flex;
}
.footer__copyright {
  flex: 2;
  justify-content: flex-start;
  color: #fff;
}
.footer__logo {
  flex: 1;
  justify-content: center;
  color: #fff;
}
.footer__linkcontainer {
  flex: 2;
  justify-content: flex-end;
}
.footer__list {}
.footer__listitem {
  display: flex;
  list-style: none;
}
.footer__link {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.2rem;
  color: var(--primary);
  background: #333;
  transition: all 0.3s;
}
.footer__link:hover {
  text-decoration: underline;
  color: #333;
  background: var(--primary);
}

@media screen and (max-width: 1280px) {
  .nav__list {
    width: 70%;
  }

  .footer__logo {
    display: none;
  }
  .footer__copyright {
    flex: 4;
  }
  .footer__contentwrapper {
    width: 70%;
  }
}

@media screen and (max-width: 720px) {
  .nav__list {
    width: 90%;
  }

  .footer__contentwrapper {
    flex-direction: column;
  }
  .footer__copyright {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .nav {
    display: none;
  }

  .navmobile {
    display: flex;
  }

  .footer__copyright {
    display: none;
  }
  .footer__linkcontainer {
    justify-content: center;
  }
}
