.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - var(--headerHeight));

  background-image: url('/img/hero.min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__textcontainer {
  transform: translateY(-10%);
  text-align: center;

  color: #fff;
}
.hero__heading {
  font-family: 'Lily Script One', serif;
  font-size: 6rem;

  width: 70vw;
  margin: 1rem 0;
}
.hero__subheading {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;

  margin-bottom: 3rem;
}
.hero__cta {
  font-size: 1.2rem;
  font-weight: bold;

  padding: 1rem;

  transition: all 0.3s;
  text-decoration: none;
  text-transform: uppercase;

  color: #333;
  border: 3px solid var(--primary);
  border-radius: 0.3rem;
  background: var(--primary);
}
.hero__cta:hover {
  color: var(--primary);
  background: rgba(0, 0, 0, 0);
}

.contentwrapper {
  width: 100%;

  background: #fff;
}

.aboutcontainer {
  display: flex;
  flex-direction: column;

  width: 60%;
  margin: 5rem auto;
}
.aboutcontainer__section {
  display: flex;
}
.aboutcontainer__section--reverse {
  display: flex;
  flex-direction: row-reverse;

  text-align: right;
}
.aboutcontainer__sectionimg,
.aboutcontainer__sectiontext {
  flex: 1;

  margin: 2rem;
}
.aboutcontainer__sectiontext {
  font-size: 1.25rem;
  line-height: 2;
}
.aboutcontainer__sectiontitle {
  font-family: 'Lily Script One', serif;
  font-size: 2.33rem;

  color: #555;
}

@media screen and (max-width: 720px) {
  .hero__heading {
    font-size: 4rem;

    width: 80vw;
  }
  .hero__subheading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    height: calc(100vh - var(--headerHeightMobile));
  }
  .hero__subheading {
    font-size: 1.2rem;
  }
}
