.viewport {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}
.viewport__backbtn {
  position: absolute;
  top: 2rem;
  left: 2rem;

  text-decoration: none;

  color: #000;
}
.viewport__backbtn:hover {
  text-decoration: underline;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40rem;
  margin: 2rem;
  height: 30rem;

  border: 1px solid lightgrey;
}
.login__logo {
  transform: translateY(-2.5rem);
}
.login__form {
  transform: translateY(-0.8rem);
}
.login__formgroup {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;
}
.login__label {
  width: 24rem;
  margin-bottom: 5px;
}
.login__input {
  width: 24rem;
  padding: 0.5rem;

  border: 1px solid grey;
}
.login__button {
  padding: 10px 20px;

  transition: all 0.3s;

  border: 1px solid black;
  background: #fff;
}
.login__button:hover {
  cursor: pointer;
  
  background: var(--primary);
}
