.viewport {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.viewport__backbtn {
  position: absolute;
  top: 2rem;
  left: 2rem;

  color: black;
  text-decoration: none;
}
.viewport__backbtn:hover {
  text-decoration: underline;
}

.login {
  width: 40rem;
  height: 30rem;
  margin: 2rem;
  border: 1px solid lightgrey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__logo {
  transform: translateY(-2.5rem);
}
.login__form {
  transform: translateY(-0.8rem);
}
.login__formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.login__label {
  width: 24rem;
  margin-bottom: 5px;
}
.login__input {
  width: 24rem;
  border: 1px solid grey;
  padding: 0.5rem;
}
.login__button {
  border: 1px solid black;
  background: #fff;
  padding: 10px 20px;
  transition: all 0.3s;
}
.login__button:hover {
  cursor: pointer;
  background: var(--primary);
}
